{% extends 'base.html.twig' %}
{% block title %}Silab{% endblock %}
{% block body %}
    <div id="root">
    </div>
{{ dump(findAll) }}
{% endblock %}
{% block javascripts %}

    {{ encore_entry_script_tags('app') }}

{% endblock %}