{% extends 'base.html.twig' %}

{% block title %}Edit Trabajo{% endblock %}

{% block body %}
    <h1>Edit Trabajo</h1>

    {{ include('trabajo/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('trabajo_index') }}">back to list</a>

    {{ include('trabajo/_delete_form.html.twig') }}
{% endblock %}
